<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookingcare</title>
</head>
<body>
    <h1>Hello World with origin dev from view</h1>
    <p><%=data %></p>
    <a href="/crud">CRUD</a>
    <a href="/get-crud">User's information</a>
</body>
</html>